.dropdown-toggle,
.dropdown-item {
    cursor: pointer;
}

.bg-primary {
    background-color: #78C2AD !important;
}

img {
    max-height: 40px;
    border: 2px solid white;
    display: inline;
    border-radius: 50%;
    line-height: 1;
}

.dropdown-toggle {
    line-height: 2;
}